* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: rgb(238, 237, 237);
  color: #333;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ***********************Menu *** */

nav.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.6rem;
}

.menu-branding a {
  
  letter-spacing: 3px;
  font-size: 1.8rem;
  color: #bb671e;
}


.menu-nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  float: right;
  list-style: none;
  transition: all 0.5s ease-out;
}

.menu .nav-link {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s ease-out;
}
.menu .nav-link:hover {
  color: #bb671e;
  border-bottom: 1px solid #bb671e;
}

/* -------------Landing Page styling -------------- */
div#bg-img {
  background: url(../img/background.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  z-index: -5;
}
div.opacity {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  text-align: center;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 3.5rem;
  margin: 3rem;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: #1b2127;
}

.md-heading {
  font-size: 2rem;
}


a {
  color: #fff;
  text-decoration: none;
}

header {
  /* position: fixed; */
  margin: 0 auto;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #FF5733;
}

main#home {
  width: 100%;
  z-index: 3;
  padding: 1.2rem;
  min-height: calc(100vh - 60px);
  align-items: center;
  text-align: center;
}

main#home {
  overflow: hidden;
  margin: auto;
}
main#home h1 {
  margin-top: 20vh;
}

/* typed js words */
div.typedjs {
  width: 100%;
  height: 60px;
  font-size: 1.6rem;
  background-color: transparent;

}

/*  ----------Social Media Icons ------------- */
main .icons {
  margin: 1rem;
  height: 50px;
  line-height: 50px;
}
main .icons a {
  padding: 1rem;
  transition: 1s all ease-in-out;
}

main .icons a:hover {
  color: #bb671e;
  transition: all 0.5s ease-out;
  font-size: 1.4rem;
  padding: 0;
}

.icons a.linkedin {
  color: #0077b5;
}

.icons a.twitter {
  color: #38a1f3;
}

.icons a.facebook {
  color: #3b5998;
}

/* ------------Project Button ------------------ */
main .project-btn {
  margin: 30px 10px;
}
.project-btn a {
  font-size: 1.2rem;
  outline: none;
  padding: 10px 22px;
  border: 2px solid #0077b5;
  border-radius: 5px;
  transition: all 0.5s ease-out;
}
.project-btn a:hover {
  background-color: #0077b5;
}

/* ------------------------ABOUT SECTION ------------- */

section#about {
  padding: 50px 20px;
  background-color: #fff;
  color: #333;
}

section#about h2.sm-heading {
  color: #fff;
}

.bio {
  width: 60%;
  margin: 20px auto;
  padding-bottom: 20px;
  text-align: center;
}
.about-info {
  display: grid;
  grid-gap: 25px;
  grid-template-areas:
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);
}


h3.bio-heading {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #bb671e;
  background-color: #0077b5;
  border-radius: 5px;
}
.about-info .bio {
  grid-area: bio;
}
.about-info .job-1 {
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}
.about-info .job-3 {
  grid-area: job3;
}
.about-info .job {
  background: #fff;
  color: #333;
  padding: 0.7rem;
  border-bottom: #bb671e 3px solid;
  box-shadow: 8px 6px 26px -8px rgba(23,22,23,1);
  border-radius: 10px;
  transition: all 0.8s ease-in-out;
}

.about-info .job:hover {
  box-shadow: 8px 6px 51px -5px rgba(23,22,23,1);
}

/* ----------------WORK SECTION ----------------- */

section#work {
  padding: 50px 20px;
  background-color: 	rgb(234, 236, 241);
  color: #000;
}
.projects {
  display: flex;
  /* grid-gap: 0.7rem;
  grid-template-columns: auto auto; */
  justify-content: space-between;
}
/* .projects img {
  width: 100%;
  height: 28vh;
  border: 3px #fff solid;
} */
.projects .card img {
  opacity: 0.8;
 height: auto;
  transition: all 0.5s ease-out;
}

.projects .item a {
  position: relative;
}

.card {
  /* Add shadows to create the "card" effect */
  width: 48%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* ************************************************ */

.project-box {
  display: flex;
  flex-wrap: wrap;
  
}

.project-text {
  padding: 1.6rem;
  text-align: center;
}

.project-box div {
  flex: 1 1 49%;
}

.project-box .fin-img {
  background: url("../img/projects/pro1.png") no-repeat center center/cover;
  height: 400px;
}

.project-box .simon-img {
  background: url("../img/projects/pro2.png") no-repeat center center/cover;
  height: 400px;
}

.project-box .clonee-img {
  background: url("../img/projects/pro3.png") no-repeat center center/cover;
  height: 400px;
}


#project2 .price-img {
  background: url("../img/projects/pro3.png") no-repeat center center/cover;
  height: 400px;
}

#project2 a {
  color: #000;
}
/* ----------------CONTACT SECTION --------------------- */

section#contact {
  padding: 50px 20px;
  background-color: #fff;
  color: #1b2127;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.boxes div {
  font-size: 2rem;
  border: 3px #fff solid;
  padding: 1.5rem 2.5rem;
  margin: 1rem 1rem;
  transition: all 0.5s ease-out;
}
.boxes div:hover {
  background: #bb671e;
  color: #000;
}
.boxes div:hover span {
  color: #000;
}

.btn {
  display: inline-block;
  padding: 0.6rem 2.5rem;
  border-radius: 30px;
  margin: 0.8rem;
  text-align: center;
  font-size: 1.3rem;
  transition: 0.5s all ease-in-out;
}

.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #00507a;
  color: #fff;
}

.btn-dark {
  background: #0077b5;
  color: #fff;
  
}

.btn-light {
  background: transparent;
  border: 1px solid #0077b5;
  color: #000;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #00060c;
  color: #fff;
  height: 60px;
}




@media screen and (max-width: 768px) {
  body,
  section#about,
  section#work,
  section#contact {
    margin: 0;
    padding: 0;
  }

  .bio {
    padding: 5px;
  }
  main {
    align-items: center;
    text-align: center;
  }
  h1.lg-heading {
    font-size: 2rem;
    margin: 0;
    padding: 1rem;
  }
  /* ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  } */

  /* .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
    overflow: auto;
  } */

  nav.menu {
    display: none;
  }
  
  div.bio {
    width: 80%;
  }
  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
  .about-info .job ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
  }

  .project-box {
    display: block; 
  }

    #project2 .simon-img {
      order: 1;
    }

    #project2 .simon-pro {
      order: 2;
    }

  .projects img {
    height: 25vh;
  }

  #contact .boxes {
    text-align: center;
  }

  .boxes div {
    padding: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  body,
  section#about,
  section#work,
  section#contact {
    margin: 0;
    padding: 0;
  }

  

  main {
    padding: 2rem;
  }
  main #home h1 {
    margin-top: 10vh;
  }
  main .lg-heading {
    margin-top: 1rem;
    font-size: 5rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .projects img {
    height: 25vh;
  }
}
